@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;

}

@theme{
  --color-bg-primary:#ffffff;
  --color-bg-secondary:#e8eaee;
  --color-text-primary:#111827;
  --color-text-secondary:#8b8a8d;
  --color-secondary-green: #22c55e;   /* Verde de acento (éxito, confirmar) */
  --color-secondary-red: #ef4444;     /* Rojo de alerta o error */
  --color-secondary-blue: #3b82f6;   
  --color-secondary-yellow: #eab308;
  --color-secondary-neutral: #c3c7ca;   
  --color-border:#e8eaee;
  --color-border-form:#d3d3d3;
  --color-hover-input:#a3a7aa;
  --color-hover:#d1d5db;
  --color-text-label:#404040;
  
 /* Azul para botones, enlaces o info */
}